<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.17" targetFramework="net452" />
  <package id="AWSSDK.Kinesis" version="3.3.3" targetFramework="net452" />
  <package id="LibUsbDotNet" version="2.2.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>